<!DOCTYPE html>
<html>
<head>
  <style>
  h1{
    font-size: 300%;
    font-family: verdana;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  p{
    font-size: 20px;
    text-align: center;
  }
  div{
    font-size: 20px;
    padding: 10px;
  }
  footer{
    text-align: center;
  }
  </style>
</head>
<body>
  <h1 style="text-align:center;"> Black Desert Online </h1>

   <div style="text-align:center"><%=image_tag("Black.png",align:"center", alt: "Example Image")%></div>
          <div style="text-align:center"><%= link_to 'About', about_path %></div>
  <div>
    <p>Black Desert Online is a sandbox, living-world MMORPG. Experience fast-paced, action-<br>
      packed combat, hunt monsters and huge bosses, fight with friends in a guild to siege nodes<br>
       and region castles, train your life skills such as fishing, trading, crafting, cooking, and much more!<br>
       Players will enjoy jaw-dropping graphics, intuitive skill-based combat, and an immersive story<br>
       encased in our expansive world that’s just waiting to be explored. Accompanied by a Black<br>
       Spirit, a companion whose destiny is intertwined with their own, players will discover the<br>
      secret of the Black Stones and the history of their corrupting effects.</p>
  </div>
</body>
<footer>
  <p>Karol Maruszak<br>
     August 2018
  </P>
</footer>

</html>
